{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{hws.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="fldName">Height (Inches)</label>
            <input id="fldName" type="text" class="form-control" placeholder="Inches" name="fldName" value="{{hws.Height_Inches}}">
        </div>
        <div class="col">
            <label for="fldAbbreviation">Weight (Lbs)</label>
            <input id="fldAbbreviation" type="text" class="form-control" placeholder="Pounds"
                   name="fldAbbreviation" value="{{hws.Weight_Pounds}}">
        </div>

    </div>

    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}

