{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{hws.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Height_Inches">Height (Inches)</label>
            <input id="Height_Inches" type="text" class="form-control" placeholder="Inches" name="Height_Inches" value="{{hws.Height_Inches}}">
        </div>
        <div class="col">
            <label for="Weight_Pounds">Weight (Lbs)</label>
            <input id="Weight_Pounds" type="text" class="form-control" placeholder="Pounds"
                   name="Weight_Pounds" value="{{hws.Weight_Pounds}}">
        </div>

    </div>

    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}

