{% extends "layout.html" %}
{% block content %}
<form action="/bmi/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Height_Inches">Add New Height (Inches)</label>
            <input id="Height_Inches" type="text" class="form-control" placeholder="Inches" name="Height_Inches">
        </div>
        <div class="col">
            <label for="Weight_Pounds">Add New Weight (Lbs)</label>
            <input id="Weight_Pounds" type="text" class="form-control" placeholder="Pounds"
                   name="Weight_Pounds">
        </div>

    </div>
    <button type="submit" class="btn btn-success">Add New BMI</button>

</form>

{% endblock %}

